div#colon3{
width:1920px;
height:100px;
border:solid black;
background-image: url(/Resources/placeholder.jpg);
border-bottom-width: 5px;
border-bottom-color: red;
}
div#cropabt{
border: solid black;
border-width:7px;
width:960px;
height:1080px;
position:absolute;
left:450px;
	
}

img#postioningggg{
	position:absolute;
	bottom:520px;
	
	
}
div#marqueeborder{
	border-top: solid black;
	border-top-width:3px;
	
}
div#artpositionindex{
	position:absolute;
	right:0px;
	top: 120px;
}
div#ArtBorder{
	border: dashed #ff7559;
	text-align: center;
	height: 2024px;
	width:960px;
	position:relative;
	left:450px;
	border-width:12px;
	
	background-color: white;
	border-radius: 35px;
	
}
img#art1{
	position:absolute;
	left:30px;
	top:400px;
	border: solid #ff5e3d 12px;
}

div#artlist{
	border: solid #ff5e3d;
	position:absolute;
	width:150px;
	height:290px;
	text-align:center;
	top:85px;
	border-width:12px;
	border-radius:35px;
	background-color:black;
	color: white;
}
img#art2{
	position:absolute;
	right:30px;
	top:640px;
	border: solid #ff5e3d 12px;
}
img#art3{
	position:absolute;
	left:30px;
	top:940px;
	border: solid #ff5e3d 12px;
}
img#art4{
	position:absolute;
	right:30px;
	top:1340px;
	border: solid #ff5e3d 12px;
}
img#art5{
	position:absolute;
	right:50px;
	top:160px;
	border: solid #ff5e3d 12px;
}
div#textpos_art{
	position:absolute;
	bottom:15px;
	right:5%;
	Border: solid #ff5e3d 12px;
	width:90%;
	border-radius: 30px;
	background-color:#ffbbad;
}
