img#member1{
	position:relative;
	top:300px;
	left:160px;
	transform:rotate(30deg);
}
img#shinada1{
	position:absolute;
	top:0px;
	right:1000px;
	
	
}
div#membersborder{
	border: dashed white 12px;
	position:absolute;
	top:200px;
	left:20px;
	height:500px;
	border-radius: 30px;
	
}
img#shinada2{
	position:absolute;
	right:450px;
	top:300px;	
}
iframe#tatsuoyt{
	position:absolute;
		right:0px;
		top:700px;
	transform:rotate(180deg)
}
embed#rouge{
	position:absolute;
	top:700px;
	right:1000px;
	
	
}